<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.web>
   <customErrors mode="Off"/>
</system.web>
    <system.webServer>
        <rewrite>
            <rules>	
                <!-- <rule name="Redirect (lb) http to https; non-www to www" enabled="true" stopProcessing="true">
					<match url="/" negate="true" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_X_FORWARDED_PROTO}" pattern="https" negate="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="true" redirectType="Permanent" />
				</rule> -->
             
                <rule name="ReverseProxyInboundRule2" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://13.127.48.223:5020/{R:1}" />
                </rule>

            </rules>
			<outboundRules>
                <rule name="noCache" preCondition="noCacheContents">
                    <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
                    <action type="Rewrite" value="no-cache, no-store, must-revalidate" />
                </rule>
                 <preConditions>
                    <preCondition name="noCacheContents" logicalGrouping="MatchAny">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^application/json" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
		<!--<caching enabled="false" />-->
		<staticContent>
			<clientCache cacheControlMode="DisableCache" />
		</staticContent>
		<httpProtocol>
			<customHeaders>
			<add name="Cache-Control" value="no-cache" />
			</customHeaders>
		</httpProtocol>
        <caching enabled="false" enableKernelCache="false" />
    </system.webServer>
</configuration>
